@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html {
    background-image: url(../arquivos-codigos/starter-code/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

header {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

#logo {
margin-top: 55px;
margin-left: 40px;
max-height: 50px;
}

#linha-header {
    background-color: rgba(255, 255, 255, 0.241);
    border: none;
    height: 1px;
    width: 560px;
    margin-top: 80px;
    margin-left: 55px;
   
}

nav#menu {
    margin-top: 35px;
    width: 800px;
    height: 85px;
    background-color: #bec6d93b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    
   
}

a.menua {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 40px;
    height: 100%;
    line-height:85px;

}

.number {
    font-weight: 800;
    display: inline;
    margin: 7px;

}

a.menua:hover {
    border-bottom: 3px solid white;


}

/* Começo do main */

main {
    margin-top: 78px;
    display: flex;
    flex-flow: column nowrap;
}

main > h2 {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 500;
    color: rgb(220, 218, 218);
    font-size: 1.5rem;
    margin-left: 145px;
    letter-spacing: 4px;
}

main > h2 > aside {
    font-weight: 700;
    color: #545861;
    font-size: 1.6rem;
    margin-right: 25px;
}

div#dois {
   display: flex;
   align-items: flex-end;
   flex-flow: row nowrap;
}

section#info {
    align-self: flex-start;
    margin-left: 145px;
    margin-top: 100px;
    
}

section#info > h3 {
    color: rgba(220, 218, 218, 0.768);
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


section#info > h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
    
}


section#info > p {
    color: rgba(220, 218, 218, 0.768);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 23px;
    width: 430px;
    margin-top: 20px;    
}

#bolinhas {
    margin-top: 120px;
}

#bolinhas > a {
    background-color: #33363e88;
    color: rgba(255, 0, 0, 0);
    text-decoration: none;
    padding-inline: 9px;
    margin-right: 18px;
    border-radius: 50%;
}


#bolinhas > a:hover {
    background-color: rgb(199, 187, 187);
    transition-duration: 0.3s;
   
}


#pessoa > img {
    width: 525px;
    margin-left: 35px;
    
}